@import "tailwindcss";

@theme {
  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);
  --color-tertiaryColor: var(--tertiaryColor);
  --color-quaternaryColor: var(--quaternaryColor);
  --color-whiteColor: var(--whiteColor);
}

body {
  margin: 0;
}

:root {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  --primaryColor: gold;
  /* Gold */
  --secondaryColor: #111111;
  /* Black */
  --tertiaryColor: #a01c1c;
  /* Burgundy */
  --quaternaryColor: #F8F3E7;
  /* Champagne */
  --whiteColor: #d3d3d3;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
}

.animate-slideUpDelay {
  animation: slideUp 1.4s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}